.background {
    background-image: url(../img/taust2.png);
    width: 100%;
    height: auto;
    margin: 0;
}
h1 {
    text-align: center;
}
.options button {
    margin: 20px;
    width: 40px;
}
.game {
    text-align: center;
    top: 100px;
    width: 80%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 2px 3px 8px 1px rgba(0, 0, 0, 0.3);
    padding: 30px;
    background-color: #fff;
}

td {
    background-color: #e0dedc;
    background-size: 40px;
    background-repeat: no-repeat;
    border: 2px solid #acacac;
    width: 40px !important;
    height: 40px;
    text-align: center;
    cursor: pointer;
}

td:hover {
    opacity: 0.3;
}
input {
    width: auto;
    margin: 11px;
    border: 1px solid #acacac;
    border-radius: 4px;
    text-align: center;
    
}

button {
    margin: 20px!important; 
    border-radius: 8px;
    
}
table.disabled {
   pointer-events: none;
}
.alert {
    text-align: center;
}
table {
    margin: 0 auto;
}
.results {
    margin-top: 50px;
    max-height: 200px;
    overflow-y: scroll;
}

@media only screen and (max-width: 768px) {
    .game {
        padding: 30px 0;
        width: 95%;
    }
}
@media only screen and (min-width: 992px) {
    .game {
        width: 70%;
    }
}
@media only screen and (min-width: 1200px) {
    .game {
        width: 50%;
    }
}
    
    