h1 {
    text-align: center;
}
a {
    color: #000;
    text-decoration: none;
}

a:hover {
    color: #000;
}

.options button {
    margin: 20px;
    width: 40px;
}

.square-nr img {
    width: 70%;
}

.square-nr button {
    padding: 0;
    border: 0;
    background-color: rgba(255, 255, 255, 0);
}

.bomb img {
    width: 30px;
}
.description {
    top: 100px;
    padding: 0 50px !important;
    text-align: justify;
}
.game {
    top: 100px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
table {
    top: 180px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

td {
    background-image: url(../img/tile.jpg);
    background-size: 40px;
    background-repeat: no-repeat;
    border: 2px solid #acacac;
    width: 40px !important;
    height: 40px;
    text-align: center;
    cursor: pointer;
}

td:hover {
    opacity: 0.3;
}



input {
    width: auto;
    margin: 11px;
    border: 1px solid #000;
    border-radius: 4px;
}
label {
    margin: 6px;
}

